<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>简途旅行</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/images/logo.ico" rel="icon" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/agent.less??__inline"/>
    <link rel="stylesheet" href="/common/css/base.scss??__inline"/>
</head>
<body>
<div class="main-wrapper">
    <header>
        <div class="back">后退</div>
        <div class="center">简途经纪人</div>
        <div class="home">个人中心</div>
    </header>
    <div class="top-content">
        <div class="rule"><a href="/mobile/gateway/wechat/distributor/rewardRule">奖励规则</a></div>
        <div class="avatar">
            <img src="../images/agent-avatar.png" alt=""/>
            <div class="name">简途经纪人</div>
        </div>
        <div class="btn-group">
            <a href="">扫码订购</a>
            <a href="">邀请朋友加入</a>
            <a href="">经纪人排行榜</a>
        </div>
    </div>
    <div class="agent-infos">
        <ul>
            <li>
                <label>注册人数:</label>
                <div class="left">18人</div>
            </li>
            <li>
                <label>有效订单:</label>
                <div class="left">123单</div>
                <div class="right">下单详情</div>
            </li>
            <li>
                <label>累计收益:</label>
                <div class="left">99.99元</div>
            </li>
            <li>
                <label>现金余额:</label>
                <div class="left">99.99元</div>
                <div class="right">申请提现</div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="../common/js/zepto.min.js"></script>
<script type="text/javascript" src="../common/js/sidebar.js"></script>
<script type="text/javascript" src="../common/js/alert.js"></script>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if(style=document.getElementById("forhtml")){
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id="forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:"+20 * (clientWidth / 320)+"px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $(document).ready(function() {
        $.confirm({
            msg : '这里是错误提示',
            title:'这里是标题',
            detail : ['这里是描述'],
            yes : '确定',
            cancel: false,
            yesFun:function(){},
            cancelFun:function(){}
        });
        $('header .back').click(function () {
            if (!$(this).hasClass('no-icon')) {
                history.go(-1);
            }
        });
        $('header .home').sidebar();// 后台传入用户电话号码
    })
</script>
</body>
</html>
