<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/images/logo.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/master-Q2-4/css/confirm.scss?__inline" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div class="page-group">
    <div class="page page-current" id="main">
        <header>
            <div class="back">后退</div>
            <div class="center">出行确认</div>
            <div class="home">个人中心</div>
        </header>
        <footer>
            <a href="">提交出行信息</a>
        </footer>
        <div class="page-content">
            <div class="tourism-detail">
                <h4> [拼巴士]明月村往返车位+陶艺套餐</h4>
                <div class="detail-infos">
                    <div class="tourism-day">
                        行程天数2天
                    </div>
                    <div class="shuttle">
                        往返
                    </div>
                    <div class="price">
                        399元/份
                    </div>
                </div>
            </div>
            <div class="travel-infos">
                <p>出行时间：2015-11-19</p>
                <p>出行人数：3人</p>
            </div>
            <div class="contact-infos">
                <h5>联系人信息</h5>
                <div class="input-gp">
                    <label for="">姓名</label>
                    <input type="text" readonly="readonly" value="yang" />
                </div>
                <div class="input-gp">
                    <label for="">手机</label>
                    <input type="text" readonly="readonly" value="123345345" />
                </div>
            </div>
            <div class="certs">
                <div class="customer-infos">
                    <div class="selected-title">
                        出行旅客<span> 0 </span><span> / 3人</span>
                        <div class="add-customer-btn turnTo" href="#customerList">
                            添加旅客
                        </div>
                    </div>
                </div>
            </div>
            <div class="service">
                点击“我要出行”表示已阅读并同意 <a class="jt" href="">《简途服务条款》</a>
            </div>
        </div>
    </div>
    <div class="page" id="customerList">
        <header>
            <div class="back">后退</div>
            <div class="center">填写订单</div>
            <div class="home">个人中心</div>
        </header>
        <footer>
            <a href="">确认</a>
        </footer>
        <div class="page-content">
            <div class="add-customer">
                <div class="add-info turnTo" href="#addModal">
                    添加旅客
                </div>
            </div>
            <div class="customer-select-group">
                <div class="selected-title">
                    已选择<span> 0 </span><span> / 3</span>
                </div>

                <div class="customer-group">
                    <div class="checkbox-icon">
                    </div>
                    <div class="customer-info">
                        <div class="customer-name">
                            yangmingkun
                        </div>
                        <div class="customer-idNo">
                            <span>身份证</span>
                            <span>12345234151345</span>
                        </div>
                        <input type="hidden" name="hiddenName" value="${customerView.name}">
                        <input type="hidden" name="hiddenMobile" value="${customerView.mobile}">
                        <input type="hidden" name="hiddenIdType" value="${customerView.idType}">
                        <input type="hidden" name="hiddenIdNo" value="${customerView.idNo}">
                    </div>
                    <div class="edit-btn turnTo" href="#editModal">
                        编辑
                    </div>
                    <div class="border-bottom"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="page" id="addModal">
        <header>
            <div class="back">后退</div>
            <div class="center">添加出游旅客</div>
            <div class="home">个人中心</div>
        </header>
        <footer>
            <a href="">保存</a>
        </footer>
        <div class="page-content">
            <div class="cover"></div>
            <div class="select-modal">
                <ul class="ul-modal">
                    <li class="nouse">请选择证件类型</li>
                    <li data-type="id">身份证</li>
                    <li data-type="passport">护照</li>
                    <li data-type="hkm_travel_permit">回乡证</li>
                    <li data-type="tw_travel_permit">台胞证</li>
                </ul>
            </div>
            <div class="customer_content">
                <div class="input_group">
                    <label>旅客姓名</label>
                    <input type="text" placeholder="*必填，姓名" name="addName" value=""/>
                </div>
                <div class="input_group">
                    <label>手机号码</label>
                    <input type="text" placeholder="*必填，用于接收出行短信" name="addMobile" value=""/>
                </div>
                <div class="input_group">
                    <label>证件类型</label>
                    <div class="customer_input">身份证</div>
                    <input type="hidden" name="addIdType" value="id" />
                </div>
                <div class="input_group">
                    <label>证件号码</label>
                    <input type="text" placeholder="*必填，用于验证身份" name="addId" value=""/>
                </div>
            </div>
        </div>
    </div>
    <div class="page" id="editModal">
        <header>
            <div class="back">后退</div>
            <div class="center">编辑出游旅客</div>
            <div class="home">个人中心</div>
        </header>
        <footer>
            <a href="">保存</a>
        </footer>
        <div class="page-content">
            <div class="cover"></div>
            <div class="select-modal">
                <ul class="ul-modal">
                    <li class="nouse">请选择证件类型</li>
                    <li data-type="id">身份证</li>
                    <li data-type="passport">护照</li>
                    <li data-type="hkm_travel_permit">回乡证</li>
                    <li data-type="tw_travel_permit">台胞证</li>
                </ul>
            </div>
            <div class="customer_content">
                <div class="input_group">
                    <label>旅客姓名</label>
                    <input type="text" placeholder="*必填，姓名" name="editName" value=""/>
                </div>
                <div class="input_group">
                    <label>手机号码</label>
                    <input type="text" placeholder="*必填，用于接收出行短信" name="editMobile" value=""/>
                </div>
                <div class="input_group">
                    <label>证件类型</label>
                    <div class="customer_input">身份证</div>
                    <input type="hidden" name="editIdType" value="id" />
                </div>
                <div class="input_group">
                    <label>证件号码</label>
                    <input type="text" placeholder="*必填，用于验证身份" name="editId" value=""/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript" src="/common/js/alert.js"></script>
<script type="text/javascript" src="/common/js/sidebar.js"></script>
<script type="text/javascript" src="/common/js/pages.js"></script>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $(document).ready(function() {
        $('header .back').click(function () {
            if (!$(this).hasClass('no-icon')) {
                history.go(-1);
            }
        });
        $('header .home').sidebar();// 后台传入用户电话号码
        $('.page-group').pageInit({
            router : '.turnTo' ,//router的className
            routerFun : function(){}
        });
    });
</script>
</html>
