<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/images/logo.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/master-Q2-4/css/pinwanOrderDetail.scss?__inline" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header>
            <div class="back">后退</div>
            <div class="center">填写订单</div>
            <div class="home">个人中心</div>
        </header>
        <footer>
            <a href="">我要出行</a>
        </footer>
        <div class="page-content">
            <div class="detail-head">
                <div class="tips">本次活动每人限购2份，支持“可兑换出行时间段”出行，出行前请进入“我的订单”兑换并选择出行日期</div>
                <div class="order-status pending">
                    <h5>订单编号：40823718912</h5>
                    <p>请在 <span>3</span> 分钟内完成支付</p>
                    <div class="status">
                        待支付
                    </div>
                </div>
            </div>
            <div class="tourism-detail">
                <h4> [拼巴士]明月村往返车位+陶艺套餐</h4>
                <div class="detail-infos">
                    <div class="tourism-day">
                        行程天数2天
                    </div>
                    <div class="shuttle">
                        往返
                    </div>
                    <div class="price">
                        399元/份
                    </div>
                </div>
            </div>
            <div class="travel-infos">
                <p>出行时间：2015-11-19</p>
                <p>出行人数：3人</p>
            </div>
            <div class="contact-infos">
                <h5>联系人信息</h5>
                <div class="input-gp">
                    <label for="">姓名</label>
                    <input type="text" readonly="readonly" value="yang" />
                </div>
                <div class="input-gp">
                    <label for="">手机</label>
                    <input type="text" readonly="readonly" value="123345345" />
                </div>
            </div>
            <div class="pay-infos">
                <h5>支付信息</h5>
                <p><span>实付款</span> <span>3990元</span></p>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript" src="/common/js/alert.js"></script>
<script type="text/javascript" src="/common/js/sidebar.js"></script>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $(document).ready(function() {
        $('header .back').click(function () {
            if (!$(this).hasClass('no-icon')) {
                history.go(-1);
            }
        });
        $('header .home').sidebar();// 后台传入用户电话号码
    });
</script>
</html>
