<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>简途旅行</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/images/logo.ico" rel="icon" type="image/x-icon"/>
    <link rel="stylesheet" href="../css/saoma.less??__inline"/>
</head>
<body>
<div class="main-wrapper">
    <header>
        <div class="back">后退</div>
        <div class="center">简途旅行</div>
        <div class="home">个人中心</div>
    </header>
    <div class="wechat-title">
        <h5>简途巴士自由行</h5>
        <p>新用户下单立享<span>九折</span>优惠扫码订购</p>
    </div>
    <div class="qrCode">
        <img src="/images/u48.png" alt="二维码" />
    </div>
</div>
<script type="text/javascript" src="../common/js/zepto.min.js"></script>
<script type="text/javascript" src="../common/js/sidebar.js"></script>
<script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if(style=document.getElementById("forhtml")){
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id="forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:"+20 * (clientWidth / 320)+"px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $(document).ready(function() {
        $('header .back').click(function () {
            if (!$(this).hasClass('no-icon')) {
                history.go(-1);
            }
        });
        $('header .home').sidebar();// 后台传入用户电话号码
    })
</script>
</body>
</html>
