<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>简途旅行</title>
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="/images/logo.ico" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" href="/master-Q2-4/css/tourism.scss?__inline" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <header>
            <div class="back">后退</div>
            <div class="center">我的行程</div>
            <div class="home">个人中心</div>
        </header>
        <div class="page-group">
            <div class="page-wrap">
                <div class="page">
                    <div class="info">
                        <div class="status">
                            <!-- 进行中添加progress，即将开始waiting，已结束不用添加 -->
                            <span class="progress">进行中</span>
                            <span>出行日期：2015-11-19</span>
                        </div>
                        <div class="line">
                            川主寺-旧亚楠-大教堂往返车位套餐
                        </div>
                    </div>
                    <div class="qrcode">
                        <div>
                            <p>
                                <span>
                                    <img src="/images/qrcode.png"/>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="operation">
                        <span>
                            <img class="w27" src="/images/tourism-seat.png"/>
                            <div>
                                在线选座
                            </div>
                        </span>
                        <span>
                            <img class="w27" src="/images/tourism-detail.png"/>
                            <div>
                                线路详情
                            </div>
                        </span>
                        <span>
                            <img class="w36" src="/images/tourism-play.png"/>
                            <div>
                                途中玩乐
                            </div>
                        </span>
                        <span class="disabled">
                            <img class="w32" src="/images/tourism-evaluate.png"/>
                            <div>
                                行程点评
                            </div>
                        </span>
                    </div>
                    <div class="page-footer">
                        <span>查看更早行程</span>
                        <div class="footer-dots">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot active"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-wrap">
                <div class="page">
                    <div class="info">
                        <div class="status">
                            <!-- 进行中添加progress，即将开始waiting，已结束不用添加 -->
                            <span class="progress">进行中111</span>
                            <span>出行日期：2015-11-19</span>
                        </div>
                        <div class="line">
                            川主寺-旧亚楠-大教堂往返车位套餐
                        </div>
                    </div>
                    <div class="qrcode">
                        <div>
                            <p>
                                <span>
                                    <img src="/images/qrcode.png"/>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="operation">
                        <span>
                            <img class="w27" src="/images/tourism-seat.png"/>
                            <div>
                                在线选座
                            </div>
                        </span>
                        <span>
                            <img class="w27" src="/images/tourism-detail.png"/>
                            <div>
                                线路详情
                            </div>
                        </span>
                        <span>
                            <img class="w36" src="/images/tourism-play.png"/>
                            <div>
                                途中玩乐
                            </div>
                        </span>
                        <span class="disabled">
                            <img class="w32" src="/images/tourism-evaluate.png"/>
                            <div>
                                行程点评
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="page-wrap">
                <div class="page">
                    <div class="info">
                        <div class="status">
                            <!-- 进行中添加progress，即将开始waiting，已结束不用添加 -->
                            <span class="progress">进行中222</span>
                            <span>出行日期：2015-11-19</span>
                        </div>
                        <div class="line">
                            川主寺-旧亚楠-大教堂往返车位套餐
                        </div>
                    </div>
                    <div class="qrcode">
                        <div>
                            <p>
                                <span>
                                    <img src="/images/qrcode.png"/>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="operation">
                        <span>
                            <img class="w27" src="/images/tourism-seat.png"/>
                            <div>
                                在线选座
                            </div>
                        </span>
                        <span>
                            <img class="w27" src="/images/tourism-detail.png"/>
                            <div>
                                线路详情
                            </div>
                        </span>
                        <span>
                            <img class="w36" src="/images/tourism-play.png"/>
                            <div>
                                途中玩乐
                            </div>
                        </span>
                        <span class="disabled">
                            <img class="w32" src="/images/tourism-evaluate.png"/>
                            <div>
                                行程点评
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="page-wrap">
                <div class="page">
                    <div class="info">
                        <div class="status">
                            <!-- 进行中添加progress，即将开始waiting，已结束不用添加 -->
                            <span class="progress">进行中333</span>
                            <span>出行日期：2015-11-19</span>
                        </div>
                        <div class="line">
                            川主寺-旧亚楠-大教堂往返车位套餐
                        </div>
                    </div>
                    <div class="qrcode">
                        <div>
                            <p>
                                <span>
                                    <img src="/images/qrcode.png"/>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="operation">
                        <span>
                            <img class="w27" src="/images/tourism-seat.png"/>
                            <div>
                                在线选座
                            </div>
                        </span>
                        <span>
                            <img class="w27" src="/images/tourism-detail.png"/>
                            <div>
                                线路详情
                            </div>
                        </span>
                        <span>
                            <img class="w36" src="/images/tourism-play.png"/>
                            <div>
                                途中玩乐
                            </div>
                        </span>
                        <span class="disabled">
                            <img class="w32" src="/images/tourism-evaluate.png"/>
                            <div>
                                行程点评
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-footer">
            <span>查看更早行程</span>
            <div class="footer-dots">
                <span class="page-dot"></span>
                <span class="page-dot"></span>
                <span class="page-dot"></span>
                <span class="page-dot"></span>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/common/js/zepto.min.js"></script>
    <script type="text/javascript" src="/common/js/alert.js"></script>
    <script type="text/javascript" src="/common/js/pages.js"></script>
    <script type="text/javascript" src="/common/js/sidebar.js"></script>
    <script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $(document).ready(function() {
        $('header .back').click(function () {
            if (!$(this).hasClass('no-icon')) {
                history.go(-1);
            }
        });
        $('header .home').sidebar();// 后台传入用户电话号码
        $('.page-group').pageInit({
            initIndex : 1,
            dots : true
        });
        $(document).ready(function() {
            $.alert({
                msg : '左右滑动查看其它行程'
            });
            $('header .back').click(function () {
                history.go(-1);
            });
            $('header .home').sidebar();
        });
    })
    </script>
</html>
